header {
  display: flex;
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 8px;
  gap: 16px;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--main-green-color);
  z-index: 100;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  justify-content: center;

  .title {
    color: white;
  }
;
}

.nav-link {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .active {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 4px;
    font-weight: bold;
  }

}


