@if (countrySelectedData) {
  <section class="dashboard-container">
    <div class="dashboard-country-detail-data-section">
      <h1 class="title-dashboard">{{ countrySelectedData.country }}</h1>
      <div class="dashboard-country-detail-data">
        <app-info-detail-chart [title]="'Number of entries'" [value]="numberOfEntries"/>
        <app-info-detail-chart [title]="'Total number medals'" [value]="totalNumberMedals"/>
        <app-info-detail-chart [title]="'Total number of athletes'" [value]="totalNumberOfAthletes"/>
      </div>
      <div *ngIf="dataCountryChart?.length" class="dashboard-country-chart-container">
        <app-country-detail-chart [data]="dataCountryChart"/>
      </div>
    </div>
  </section>
} @else {
  <app-http-error [title]="'Country not found in data'" [statusCode]="404" />
}
