.dashboard-country-detail-data-section {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 16px;
}

.dashboard-country-detail-data {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.dashboard-country-chart-container {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.country-not-found{
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 3rem;
  color: black;
}

.go-back{
  color: var(--main-green-color);
  font-size: 2rem;
}

@media (max-width: 600px) {
  .dashboard-country-detail-data {
    width: min-content;
  }

  .dashboard-country-detail-container {
    top:80px;

    .country-not-found{
      font-size: 2em;
      margin-bottom: 16px;
    }

    .go-back{
      color: var(--main-green-color);
    }
  }

  .dashboard-country-chart-container {
    margin-right: 50px;
  }

}


